<!DOCTYPE html>
<html>
  <head>
    <%- include('imports'); -%>
  </head>
  <body>
    <%- include('navbar'); -%>
    
    <div class="container">
      <div class="row">
        
        <div class="post-detail">
            <p><%= post.body %></p>
        </div>
        

      </div>
    </div>

  </body>
</html>
